body{
    margin: 0;
}
section{
    height: 0px;
    padding-bottom: 1000px;
}
.top-banner{
    padding-left: 10%;
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.half-width{
    width: 40%;
    padding-left: 2%;
    float: left;
    padding-top: 150px;
}
.top-left{
    padding-top: 280px;
    padding-left: 5%;
}
h1{
    color: rgb(238, 53, 109);
    font-size: 60px;
    font-weight: 1500;
}
h2{
    font-size: 40px;
}
.half-width img{
    width: 100%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, brown, salmon);
    padding : 10px 20px;
    border-radius: 5px;
    color: cornsilk;
    font-weight: bold;
}
.biography{
    background-image: url(images/biography-bg.png);
    padding-left: 10%;
    background-repeat: no-repeat;
    background-position: left;
}
p{
    padding-bottom: 30px;
}
.mid-right{
    padding-left: 100px;
    padding-top: 300px;
}
#mid-left img{
    width: 80%;
    
}
.latest-work{
    padding-left: 5%;
    padding-top: 15%;
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 65%;
}
.latest-work img{
    width: 23%;
    padding-left: 7%;
    padding-top: 5%;
}
#work-heading{
    text-align: center;
}
.clint-review{
    text-align: center;
    background-image: url(images/footer-bg.png);
    background-size: 90%;
    background-repeat: no-repeat;
}
.contact-info{
    text-decoration: none;
    background-image: linear-gradient(45deg, brown, salmon);
    padding : 60px 160px;
    padding-top: 100px;
    border-radius: 5px;
    color: cornsilk;
    font-weight: bold;
}
#dumy-text{
    padding-bottom: 200px;
}
#mail{
    
    font-size: 30px;
}
#founder{
    color: gray;
}
footer{
    text-align: center;
    color: gray;
    padding-bottom: 25px;
}